html, body{    
     background-image: url("../images/background.jpg");
     box-sizing: border-box;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100%;

}
*, *:before, *:after{
 box-sizing: inherit;
}

img.bg{
    width:100%;
    height: auto;
    
}

h1{
    text-align: center;
}
main{
    background-color: #ffffff;
    max-width:950px;
    height: auto;
    margin: -8px auto;
    font-family: Comic Sans MS;
}

header {
    position: relative;
    color: #black;
    font-family: Comic Sans MS;
   
}
.logo{
    float: left;
}

.logo img{
    width: 300px;
    height:100px;    
}

.side-options{
    float:right;
}
.side-options a{
    text-decoration: none;
    color: #black;
}

.side-options img{
    width:20px;
    height: 20px;
    margin-left: 10px;
    
    
}

.logo{
    float:left;
    margin: 10px;
}

.side-options{
    float:right;
    margin: 10px;
}
nav{
    clear:both;
}

ul#flex-container{
    background: #black;
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0 0 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#flex-container li{
    
    width:auto;
    height: 30px;
    padding-top: 10px;
    color: #black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background: #black;
    padding-top: 10px;
    
}

h2{
    clear:both;
    padding-top: 0;
    margin: 0 10px 2px 10px;
}

/***
header nav{
    color: #ffffff;
    background-color: #de2226;
    clear:both;

}
header nav ul{
   
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #de2226;
}



***/

header li a{
    display: inline;
    color: #ffffff;
    padding: 0px 0;
    text-decoration: none;
}


header li a.active {
    background-color: #ffffff;
    color: white;
}

header li a:hover:not(.active) {
    background-color: #ffffff;
    color: #black;
}

.bar{
    background-color: black;
    width: inherit;
    height: 2px;
}


.footer-container{
   display: flex;
    align-content: center;
    width: 70%;
    margin: 0 auto;
    
   

}
.footer-menu{
     display: flex;
    flex-grow: 1;
    list-style-type: none;
     flex-direction: row;

}
.footer-menu li{
   flex-grow: 1;
   min-width:60px;
}
.CR{
    text-align: center;
    margin: 0 auto;
    
}

.flex-outer{
    
    border-color: #de2226;
    display:flex;
    list-style-type: none;
   
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    max-width: 800px;
    margin: 30px auto;
    
}
.flex-outer li{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

}
.flex-outer label{
    font-family: sans-serif;
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer li .button, button{
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #de2226;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-outer li a{
    text-decoration: none;
}

#prod-display, #prod-detail{
 margin: 2px;
 padding: 10px;
 display: flex;
 flex-direction: column;
}
#prod-display li, #prod-details li{
 margin-bottom: .5em;
 border: 1px #ccc solid;
 list-style-type: none;
 flex: 1 1 auto;
}


#thumb-display li{
    max-width: 100%;
    list-style-type: none;     
}

#thumb-display{
    flex-flow: row wrap;
    display: flex;
}


#thumb-display li hr{
    max-width: 50%;
     list-style-type: none;
}


#prod-display li img, #prod-detail li img{
 max-width: 100%;
}

hr{
    max-width: 50%;
    
}

@media (min-width: 768px) {
  
    #prod-display, #prod-detail{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    #prod-display li, #prod-detail li{
        max-width: 80%;
        flex: 1 0 auto;
        text-align: center;
        list-style-type: none;
        
        }
}


form, form #reviewText {
    max-width: 60%;
}

#reviewText{
    display: block;
}

